@media (max-width: 1200px) {
  #header {
    .header {
      .link {
        .signup {
          width: 100%;
          max-width: 100px;
        }
        .signin {
          width: 100%;
          max-width: 100px;
        }
      }
    }
  }
  #hero {
    .hero {
      img {
        width: 100%;
        max-width: 350px;
      }
      .two-btn {
        gap: 10px;
      }
    }
  }
  #management {
    .management {
      img {
        width: 100%;
        max-width: 450px;
      }
      .icon {
          display: flex;
          gap: 10px;
        }
    }
  }
  #contents {
    .contents {
      .contents-img {
        .card {
          img {
            width: 100%;
            max-width: 300px;
          }
        }
      }
    }
  }

  #price {
    .price {
      .cards {
        transition: 0.6s;

        .card {
          transform: scale(0.8);
          padding: 7px;
          width: 100%;
          max-width: 300px;
        }
      }
    }
  }
  #join {
    .join -text {
      button {
        width: 100%;
        max-width: 100px;
        height: 100px;
      }
    }
  }
}
@media (max-width: 1024px) {
  #header {
    .header {
      .link {
        button,
        img {
          display: none;
        }
        .burger-menu {
          display: block;
          color: black;
        }
      }
    }
  }
  #management {
    .management {
      img {
        width: 100%;
        max-width: 250px;
      }
      .management-text {
        .icon {
          gap: 15px;
        }
      }
    }
  }

  #quick {
    .quick {
      justify-content: center;

      .imgs {
        img {
          width: 100%;
          max-width: 300px;
        }
      }
    }
  }

  #hero {
    .hero {
      img {
        width: 100%;
        max-width: 250px;
      }
    }
  }
  #product {
    .product {
      align-items: center;
      .bloks {
        flex-direction: column;
        .blok {
          align-items: center;
        }
      }
    }
  }
  #clients {
    .clients {
      .stars {
        .stars-card {
          gap: 25px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  #join {
    .join {
      img {
        width: 100%;
        max-width: 200px;
      }
    }
  }

  #price {
    .price {
      .cards {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
@media (max-width: 640px) {
  #header {
    .header {
      .link {
        button,
        a,
        img {
          display: none;
        }
      }
    }
  }

  #hero {
    .hero {
      flex-direction: column-reverse;
      text-align: center;
      .hero-text {
        .two-btn {
          align-items: center;
          text-align: center;
          justify-content: center;
        }
      }
    }
  }
  #product {
    .product {
      align-items: center;
      justify-content: center;

      .blocks {
        flex-direction: column;
        align-items: center;
        .block {
          align-items: center;
        }
      }
    }
  }
  #management {
    .management {
      flex-direction: column-reverse;
      align-items: center;
      text-align: left;
      .img-noreser {
        display: none;
      }
      .adaptiv-img {
        display: block;
      }
    }
  }
  #quick {
    .quick,
    .imgs {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  #contents {
    .contents {
      text-align: center;
      align-items: center;
      justify-content: center;
      .contents-img {
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
      }
    }
  }
  #price {
    .price {
      flex-direction: column;
      .cards {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  #clients {
    .clients {
      align-items: center;
      text-align: center;
      .stars {
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: center;

        .stars-card {
          gap: 10px;
        }
      }
    }
  }
  #join {
    .join {
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
  }
  #footer {
    .footer {
      .footer-complete {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
  }
}
@media (max-width: 475px) {
  #contents {
    .contents {
      text-align: center;
      align-items: center;
      justify-content: center;
      .contents-img {
        flex-wrap: wrap;
        align-items: center;
        text-align: left;
      }
    }
  }
}
